
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #D8EE77;
    --dark-color: #3F64B4;
    --text-color: #fff;
    --card-color: #fff;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
    background-color: var(--main-color);
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.main-btn {
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid transparent;
    color: #fff;
    background-color: var(--dark-color);
    transition: all 0.4s ease-in;
    &:hover {
        border: 2px solid #000;
    }
}

